* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #0e0d0d;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 50px;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgb(240, 239, 243);
  width: 100%;
}

header.sticky {
  background: #6951f0;
}

header:hover {
  background: rgb(237 192 231);
}

.logo {
  flex: 1;
}

.logo img {
  padding-right: 55px;
  height: 100px;
  width: 235px;
  margin-bottom: -20;
  margin-bottom: -20;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: -51px;
}

.menu {
  flex: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  /* Khoảng cách giữa các mục */
  font-size: 16px;
}

.menu li {
  padding: 0;
  position: relative;
}

.menu li:hover .sub-menu {
  display: block;
  visibility: visible;
  top: 50px;
}

.menu li a {
  font-size: 17px;
  font-weight: bold;
  display: block;
  line-height: 20px;
}

.sub-menu {
  position: absolute;
  width: 150px;
  border: 1px solid #ece6e6;
  padding: 10px 0 10px 20px;
  visibility: hidden;
  top: 60px;
  transition: 0.3s;
  z-index: 1;
  background: #ece6e6;
}

.sub-menu ul {
  padding-left: 20px;
}

.sub-menu ul a {
  display: block;
}

.others {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}

.others li {
  display: flex;
  align-items: center;
}

.others li:first-child {
  position: relative;
}

.others li:first-child input {
  background: transparent;
  outline: none;
  width: 40%;
  border: none;
  border-bottom: 1px solid #0e0d0d;
  padding-right: 12px;
}

.others.icon-header {
  line-height: 12px;
  font-size: 15px;
  letter-spacing: 5px;
  display: flex;
  justify-content: center;
  gap: 12px;
  letter-spacing: 10px;
}

.others li:first-child i {
  position: absolute;
  right: 10px;
  top: 50%;
}

.aspect-ratio-169 {
  padding-top: 56.25%;
  display: block;
  position: relative;
  transition: 0.3s;
}

.aspect-ratio-169 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}

.dot-container {
  position: absolute;
  height: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.dot {
  height: 16px;
  width: 16px;
  background-color: rgb(164, 164, 167);
  border-radius: 50%;
  margin-right: 12px;
  cursor: pointer;
}

.dot.active {
  background-color: #6951f0;
}

#Slider {
  padding-bottom: 30px;
  border-bottom: 2px solid #ece6e6;
  overflow: hidden;
}

/********************************APP*/

.app-container {
  text-align: center;
  align-items: center;
  padding: 150px 0px 50px 0;
}

.app-google {
  margin: 50px;
}

.app-google img {
  height: 50px;
  cursor: pointer;
}

.app-container p {
  line-height: 20px;
  letter-spacing: 1px;
  font-size: 17px;
  color: #0e0d0d;
  font-weight: bold;
}

.app-container input {
  margin-top: 50px;
  border: none;
  border-bottom: 1px solid #131212;
  padding-bottom: 20px;
  width: 400px;
  text-align: center;
  outline: none;
}

/********************************FOOTER**********/
.footer {
  text-align: center;
}

.footer-top {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  height: 70px;
}

.footer-top img {
  height: 50px;
}

.footer-top li {
  padding: 0 12px;
  position: relative;
}

.footer-top li::after {
  content: "";
  display: block;
  height: 80%;
  width: 1px;
  background: #46f388;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.footer-top li:last-child ::after {
  display: none;
}

.footer-top li:last-child a {
  margin-right: 12px;
  color: gray;
}

.footer-center {
  text-align: center;
  font-size: 17px;
}

.footer-center span {
  font-weight: bold;
}

.footer-bottom {
  margin: 20px 0;
  text-align: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

/*-------cartegory-----*/
.cartegory {
  padding: 100px 0 0;
}

.cartegory-top {
  margin-bottom: 50px;
}

.cartegory-top p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0 12px;
  font-size: 15px;
}

.cartegory-left {
  width: 20%;
}

.cartegory-right {
  width: 80%;
}

.cartegory-right-top-item:first-child {
  flex: 2;
  font-size: 16px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
}

.cartegory-right-top-item {
  flex: 1;
  padding: 0 12px;
}

.cartegory-right-top-item button {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #faf3f3;
  border: 1px solid black;
  cursor: pointer;
}

.cartegory-right-top-item select {
  width: 100%;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  background-color: #faf3f3;
  border: 1px solid black;
  cursor: pointer;
}

.cartegory-right-content {
  margin-right: 10px;
  margin-top: 20px;
  justify-content: space-between;
}

.cartegory-right-content-item {
  width: calc(25% - 12px);
  text-align: center;
  padding: 12px 0;
}

.cartegory-right-content-item h1 {
  font-size: 17px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin-top: 6px;
  color: #858585;
}

.cartegory-right-content-item img {
  width: 100%;
  /* Make the image take the full width of the container */
  height: auto;
  /* Maintain the aspect ratio */
  object-fit: cover;
  /* Crop the image to fit the dimensions without distortion */
}

.cartegory-right-content-item p {
  font-size: 15px;
}

.cartegory-right-bottom {
  justify-content: space-between;
  margin: 25px 0 20px;
  width: 100%;
}

.cartegory-right-bottom p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
}

.cartegory-left ul li {
  padding: 12px 0;
  margin-left: 25px;
}

.cartegory-left ul li a {
  font-size: 16px;
  color: black;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.cartegory-left ul li ul li {
  padding-left: 10px;
}

.cartegory-left-li ul {
  display: none;
}

.cartegory-left-li.block ul {
  display: none;
}

/*----------------------------------PRODUCT--------------------------*/
.product {
  padding: 100px;
}

.product-top {
  margin-bottom: 30px;
}

.product-top p {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0 12px;
  font-size: 15px;
}

.product-content-left {
  width: 50%;
}

.product-content-left-big-img {
  width: 73%;
  padding-right: 20px;
}

.product-content-left-big-img img {
  width: 100%;
}

.product-content-left-small-img {
  width: 27%;
}

.product-content-left-small-img img {
  width: 100%;
  cursor: pointer;
}

.product-content-right {
  width: 50%;
  padding-left: 20px;
}

/* .product-content-right-product-color-img img{
  border-radius: 50%;
  width: 50px;
} */
.product-content-right-product-name h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
}

.product-content-right-product-name p {
  color: #858585;
  font-size: 12px;
}

.product-content-right-product-price {
  margin: 12px 0;
  font-size: 20px;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.product-content-right-product-color img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.product-content-right-product-color-img {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12px 0;
}

.size span {
  display: inline-block;
  padding: 3px 6px;
  border: 1px solid black;
  margin: 12px 10px 12px 0;
  font-size: 12px;
  cursor: pointer;
}

.quantity {
  display: flex;
  margin-bottom: 20px;
}

.quantity input {
  width: 35px;
  padding-left: 3px;
  display: block;
}

.product-content-right-product-button {
  width: 150px;
  height: 40px;
  display: block;
  margin: 20px 0 12px;
  transition: all 0.5s ease;
}

.product-content-right-product-button:first-child {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ece6e6;
  border: 2px solid black;
  cursor: pointer;
}

.product-content-right-product-button:first-child:hover {
  background-color: #d3d3d3;
  color: wheat;
}

.product-content-right-product-button:last-child {
  border: 2px solid #6951f0;
  color: #46f388;
  background-color: wheat;
  cursor: pointer;
}

.product-content-right-product-icon {
  display: flex;
}

.product-content-right-product-icon-item {
  display: flex;
  margin-right: 12px;
  justify-content: center;
  align-items: center;
}

.product-content-right-product-icon-item i {
  font-size: 12px;
  margin-right: 6px;
}

.product-content-right-product-QR img {
  margin-top: 20px;
  width: 40%;
}

.product-content-right-bottom {
  padding-top: 40px;
  border-top: 1px solid #01f801;
  position: relative;
}

.product-content-right-bottom-top {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 1px solid #d3d3d3;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff6f6;
  top: -15px;
  left: 50%;
  border-radius: 50%;
  transform: translateX(-50%);
}

.product-content-right-bottom-content-title {
  border-bottom: 2px solid #d3d3d3;
}

.product-content-right-bottom-content-title-item {
  padding: 6px;
  cursor: pointer;
  margin-right: 6px;
}

.product-content-right-bottom-content-title-item p {
  font-family: serif;
  font-size: 17px;
}

.product-content-right-bottom-content {
  padding-top: 30px;
  font-family: serif;
  font-size: 17px;
}

.product-content-right-bottom-content-big {
  cursor: pointer;
}

.activeB {
  display: none;
}

.product-content-right-bottom-content-baoquan {
  display: none;
}

.product-related {
  margin-bottom: 50px;
}

.product-related-title {
  margin: 20px 0;
}

.product-related-title p {
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  color: #1e56f1;
  text-decoration: underline;
  padding-left: 10px;
}

.product-related-item {

  width: 20%;
  text-align: center;
  padding: 0 6px;
}

.product-related-item img {

  width: 100%;

}

.product-related-item h1 {

  font-family: serif;
  font-size: 17px;
  color: #6951f0;
  margin-top: 14px;
}

.product-related-item p {
  font-size: 14px;
  text-decoration: line-through;
  color: #21025d;
}
.product-related-item span {
  font-size: 19px;
  color: #21025d;
  font-weight: bold;
  background-color: #00dfef;
}